.teamWin {
  float: left;
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1%;
  overflow: hidden;
  background-color: rgb(144, 233, 148);
  border-radius: 1%;
  font-variant-ligatures: normal;
}
.teamLost {
  float: right;
  width: 48%;
  margin-left: -50px;
  padding: 1%;
  overflow: hidden;
  background-color: rgb(233, 144, 144);
  border-radius: 1%;
}
.match {
  width: 100%;
  padding: 2%;
  margin-top: 5%;
  overflow: hidden;
  background-color: rgb(201, 201, 201);
  border-radius: 1%;
}
.team {
  float: left;
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 1%;
  overflow: hidden;
  background-color: rgb(144, 233, 148);
  border-radius: 1%;
}

.participant {
  font-size: 50px;
  margin: 1%;
  padding: 0%;
  background-color: rgb(246, 255, 228);
  border-radius: 1%;
  overflow: auto;
}
.item {
  padding: 0.5%;
  width: 25%;
  float: left;
  overflow: hidden;
}
.image {
  height: 3em;
}
.itemImage{
  height: 2em;
}
.itemItem{
  float: left;
  overflow: hidden;
}
.tipsButton{
  width: 5%;
  float: right;
  clear: both;
  margin-top: 1%;
  margin-left: 1%;
  padding: 1%;
  background-color: lightblue;
  height: 1%;
  width: 12%;
}
.Performance{
  display: none;
  clear: both;
}
.PositiveTip{
  float: left;
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1%;
  overflow: hidden;
  background-color: rgb(170, 235, 173);
  border-radius: 1%;
  font-variant-ligatures: normal;
}
.NegativeTip{
  float: right;
  width: 48%;
  margin-left: -50px;
  padding: 1%;
  overflow: hidden;
  background-color: rgb(231, 164, 164);
  border-color: black;
  border-radius: 1%;
}
.EmptyTip{
  overflow: hidden;
  background-color: grey;
}
.Loading{
  padding: 4em;
  text-align: center;
  font-size: 2em;
  font-style: italic;
}