ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4caf50;
}

.right {
  float: left;
  width: 100%;
  padding: 0px;
}
.label {
  padding: 0px;
  color: white;
}
.loginPage{
  position: relative;
  top:100px;
  background-color: lightblue;
  padding: 5%;
}
.loginPage h1{
  text-align: center;
  font-weight: bold;
}

.registerPage{
  position: relative;
  top:100px;
  background-color: lightblue;
  padding: 5%;
}

.modalForm{
  position: relative;
  top:50px;
  left: 50px
}