.rankBox{
    position: absolute;
    top: 500px;
}

.rankedChampions{
    position: relative;
    left: 320px;
    bottom: 100px;
    background-color: lightblue;
    padding: 2.5%;
    border: solid;
    width: 60%;
}