.summonerSearchBox{
    text-align: center;
    margin-top: 100px;
}

.summonerSearchBox h1{
    font-weight: bold;
    font-style: italic;
    margin-right: 10px;
}

.summonerSearchBox .searchBar{
    width: 250px;
    background-color: lightcyan;
}

.summonerSearchBox .regionList{
    width: 100px;
    margin-right: 10px;
    background-color: lightcyan;
}

.quickStats{
    position: relative;
    left: 350px;
    bottom: 200px;
}